[class*="NavBar-plexLogo-"] {
    background-image: url("/theme.park/css/addons/plex/plex-alt-logo/onlypeters-short.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 145px;
}

[class*="NavBar-plexLogo-"] svg {
    display: none;
}
